{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  plugins: ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "class-methods-use-this": 0,
    "import/no-named-as-default": 0
  },
  "extends": [
    "prettier",
    "eslint:recommended",
  ]
}